[access]
	inheritFrom = All-Projects
[submit]
	action = rebase always
[access "refs/*"]
	owner = group user/TrdHuy
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/TrdHuy
	label-Verified = -1..+1 group user/TrdHuy
	read = group user/TrdHuy
	rebase = group user/TrdHuy
	removeReviewer = group user/TrdHuy
	submit = group user/TrdHuy
[access "refs/heads/*"]
	create = group user/TrdHuy
	pushMerge = group user/TrdHuy
	read = group user/TrdHuy
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
