[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/TrdHuy
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/TrdHuy
	label-Verified = -1..+1 group user/TrdHuy
	push = group user/TrdHuy
	read = group user/TrdHuy
	rebase = group user/TrdHuy
	removeReviewer = group user/TrdHuy
	submit = group user/TrdHuy
[access "refs/heads/*"]
	create = group user/TrdHuy
	push = +force group user/TrdHuy
	pushMerge = group user/TrdHuy
	read = group user/TrdHuy
[access "refs/tags/*"]
	push = group user/TrdHuy
	push = +force group user/TrdHuy
